$food-black: #000000;
$food-orange: #FF4B3A;
$food-grey: #F2F2F2;
$food-white: #FFFFFF;






$extra-small: 320px;     // iPhone SE, older phones
$small-medium: 375px;    // Most standard phones
$large-phone: 425px;     // Large phones
$small-tablet: 768px;    // Small tablets (landscape phones and tablets)